In [1]:
import pandas

In [2]:
df = pandas.read_csv('./data/202512190921.csv')

In [6]:
df.head(5)

,ShiftName,ProductionDate,ProductGrade,GradeCode,ProductSizeCode,Length,BilletLotCode,BilletSampleName,OvenID,TotalWeight,...,Co60,Cs137,Ir192,Am241,pb,Cp,ClassifyID,ClassifyName,InputTime,OvenCode
0,1B,2025-09-10,CT3,CT5V,165x165,12.0,25B005800,LD1,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0005,-0.015,NaN,NaN,2025-09-10 06:46:01,B
1,1B,2025-09-10,CT3,CT5V,165x165,12.0,25B005800,LD2,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0000,0.114,NaN,NaN,2025-09-10 06:55:46,B
2,1B,2025-09-10,CT3,CT5V,165x165,12.0,25B005800,CCM1,1.0,NaN,...,NaN,NaN,NaN,NaN,0.0000,0.254,1.0,Loại 1,2025-09-10 08:13:08,B
3,1B,2025-09-10,CT3,CT5V,165x165,12.0,25B005800,LF1,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0000,0.212,NaN,NaN,2025-09-10 07:49:40,B
4,1B,2025-09-10,CT3,CT5V,165x165,12.0,25B005800,LF2,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0000,0.231,NaN,NaN,2025-09-10 08:02:04,B

In [7]:
# Thông tin cơ bản về dataset
print("Shape của dataset:", df.shape)
print("\nThông tin về các cột:")
df.info()

Shape của dataset: (81072, 52)

Thông tin về các cột:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81072 entries, 0 to 81071
Data columns (total 52 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ShiftName         81072 non-null  object
 1   ProductionDate    81072 non-null  object
 2   ProductGrade      81072 non-null  object
 3   GradeCode         81026 non-null  object
 4   ProductSizeCode   81072 non-null  object
 5   Length            81072 non-null  float64
 6   BilletLotCode     81072 non-null  object
 7   BilletSampleName  81072 non-null  object
 8   OvenID            26393 non-null  float64
 9   TotalWeight       5523 non-null   float64
 10  C                 81072 non-null  float64
 11  Si                81072 non-null  float64
 12  Mn                81072 non-null  float64
 13  S                 81072 non-null  float64
 14  P                 81072 non-null  float64
 15  Cu                81071 non-null  float64
 16  Ni                81071 non-null  float64
 17  Cr                81071 non-null  float64
 18  Mo                81071 non-null  float64
 19  V                 81071 non-null  float64
 20  Ti                81071 non-null  float64
 21  Al                81070 non-null  float64
 22  Ca                61340 non-null  float64
 23  B                 81070 non-null  float64
 24  Nb                75920 non-null  float64
 25  CEV               81070 non-null  float64
 26  O                 3224 non-null   float64
 27  N                 3908 non-null   float64
 28  H                 193 non-null    float64
 29  Al_sol            61341 non-null  float64
 30  Al_ins            61340 non-null  float64
 31  Sn                22041 non-null  float64
 32  As                22031 non-null  float64
 33  Zr                2 non-null      float64
 34  Bi                2 non-null      float64
 35  Ce                2 non-null      float64
 36  Se                2 non-null      float64
 37  Te                2 non-null      float64
 38  Ta                2 non-null      float64
 39  Zn                22031 non-null  float64
 40  La                2 non-null      float64
 41  TotalRange        0 non-null      float64
 42  Co60              0 non-null      float64
 43  Cs137             0 non-null      float64
 44  Ir192             0 non-null      float64
 45  Am241             0 non-null      float64
 46  pb                75921 non-null  float64
 47  Cp                81072 non-null  float64
 48  ClassifyID        9642 non-null   float64
 49  ClassifyName      9642 non-null   object
 50  InputTime         81072 non-null  object
 51  OvenCode          81072 non-null  object
dtypes: float64(42), object(10)
memory usage: 32.2+ MB

# Khám phá dữ liệu cơ bản

In [8]:
# Xem các cột và thống kê mô tả
print("Tên các cột:")
print(df.columns.tolist())
print("\nThống kê mô tả cho các cột số:")
df.describe()

Tên các cột:
['ShiftName', 'ProductionDate', 'ProductGrade', 'GradeCode', 'ProductSizeCode', 'Length', 'BilletLotCode', 'BilletSampleName', 'OvenID', 'TotalWeight', 'C', 'Si', 'Mn', 'S', 'P', 'Cu', 'Ni', 'Cr', 'Mo', 'V', 'Ti', 'Al', 'Ca', 'B', 'Nb', 'CEV', 'O', 'N', 'H', 'Al_sol', 'Al_ins', 'Sn', 'As', 'Zr', 'Bi', 'Ce', 'Se', 'Te', 'Ta', 'Zn', 'La', 'TotalRange', 'Co60', 'Cs137', 'Ir192', 'Am241', 'pb', 'Cp', 'ClassifyID', 'ClassifyName', 'InputTime', 'OvenCode']

Thống kê mô tả cho các cột số:

,Length,OvenID,TotalWeight,C,Si,Mn,S,P,Cu,Ni,...,Zn,La,TotalRange,Co60,Cs137,Ir192,Am241,pb,Cp,ClassifyID
count,81072.000000,26393.000000,5523.000000,81072.000000,81072.000000,81072.000000,81072.000000,81072.000000,81071.000000,81071.000000,...,22031.000000,2.00,0.0,0.0,0.0,0.0,0.0,75921.000000,81072.000000,9642.000000
mean,23.110199,1.693138,125575.513308,0.109264,0.099586,0.356086,0.011390,0.012147,0.021940,0.011485,...,30.636220,7.22,NaN,NaN,NaN,NaN,NaN,0.000319,0.097786,1.055175
std,9.584173,0.706349,7015.969276,0.149679,0.165089,0.369892,0.008756,0.004361,0.011626,0.005389,...,30.164982,0.00,NaN,NaN,NaN,NaN,NaN,0.000488,0.144335,0.803132
min,9.400000,1.000000,46800.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7.22,NaN,NaN,NaN,NaN,NaN,0.000000,-0.064000,1.000000
25%,12.000000,1.000000,122200.000000,0.031000,0.006000,0.128000,0.004000,0.009000,0.010000,0.009000,...,11.670000,7.22,NaN,NaN,NaN,NaN,NaN,0.000000,0.025000,1.000000
50%,30.970000,2.000000,125800.000000,0.039000,0.014000,0.160000,0.008000,0.011000,0.020000,0.011000,...,22.330000,7.22,NaN,NaN,NaN,NaN,NaN,0.000000,0.035000,1.000000
75%,30.970000,2.000000,129300.000000,0.162000,0.180000,0.623000,0.017000,0.014000,0.030000,0.013000,...,39.300000,7.22,NaN,NaN,NaN,NaN,NaN,0.000600,0.139000,1.000000
max,30.970000,3.000000,254000.000000,0.908000,1.071000,1.670000,0.089000,0.063000,0.140000,0.187000,...,432.270000,7.22,NaN,NaN,NaN,NaN,NaN,0.013000,0.903000,19.000000

In [9]:
# Kiểm tra giá trị null
print("Tỷ lệ giá trị null trong từng cột:")
null_percentage = (df.isnull().sum() / len(df)) * 100
null_info = null_percentage[null_percentage > 0].sort_values(ascending=False)
print(null_info.head(10))

Tỷ lệ giá trị null trong từng cột:
Ir192         100.000000
TotalRange    100.000000
Cs137         100.000000
Co60          100.000000
Am241         100.000000
Te             99.997533
Ta             99.997533
La             99.997533
Se             99.997533
Zr             99.997533
dtype: float64

In [10]:
# Phân tích các cột quan trọng
print("=== TỔNG QUAN DỮ LIỆU SẢN XUẤT THÉP ===")
print(f"Tổng số mẫu: {len(df):,}")
print(f"Tổng số cột: {len(df.columns)}")
print(f"Khoảng thời gian: {df['ProductionDate'].min()} đến {df['ProductionDate'].max()}")
print()

# Phân tích các cột phân loại quan trọng
print("=== PHÂN LOẠI SẢN PHẨM ===")
print("Các loại sản phẩm (ClassifyName):")
classify_counts = df['ClassifyName'].value_counts(dropna=False)
print(classify_counts)
print()

print("Các cấp thép (ProductGrade):")
print(df['ProductGrade'].value_counts().head())
print()

print("Các ca làm việc (ShiftName):")
print(df['ShiftName'].value_counts())
print()

print("Các lò sản xuất (OvenCode):")
print(df['OvenCode'].value_counts())

=== TỔNG QUAN DỮ LIỆU SẢN XUẤT THÉP ===
Tổng số mẫu: 81,072
Tổng số cột: 52
Khoảng thời gian: 2025-09-10 đến 2025-12-19

=== PHÂN LOẠI SẢN PHẨM ===
Các loại sản phẩm (ClassifyName):
ClassifyName
NaN                    71430
Loại 1                  9520
Loại 2                   104
Phế phẩm thành phần       18
Name: count, dtype: int64

Các cấp thép (ProductGrade):
ProductGrade
CT3           80650
CT5             140
SAE1006-Al      125
SAE1008          42
CT5V             28
Name: count, dtype: int64

Các ca làm việc (ShiftName):
ShiftName
1B    14181
2C    14074
2B    13834
2A    13485
1A    12822
1C    12676
Name: count, dtype: int64

Các lò sản xuất (OvenCode):
OvenCode
C    19679
B    18127
A    17034
D    16856
E     9376
Name: count, dtype: int64

In [11]:
# Phân tích thành phần hóa học chính
print("=== THÀNH PHẦN HÓA HỌC CHÍNH ===")
chemical_cols = ['C', 'Si', 'Mn', 'S', 'P', 'Cu', 'Ni', 'Cr', 'Mo', 'V', 'Ti', 'Al']
chemical_summary = df[chemical_cols].describe().round(4)
print(chemical_summary[['C', 'Si', 'Mn', 'S', 'P']])
print()

# CEV analysis
print("=== CARBON EQUIVALENT VALUE (CEV) ===")
print(f"CEV trung bình: {df['CEV'].mean():.4f}")
print(f"CEV min: {df['CEV'].min():.4f}")
print(f"CEV max: {df['CEV'].max():.4f}")
print(f"Số mẫu có CEV: {df['CEV'].notna().sum():,}")
print()

# Phân tích mức độ thiếu dữ liệu
print("=== ĐÁNH GIÁ CHẤT LƯỢNG DỮ LIỆU ===")
missing_data = (df.isnull().sum() / len(df) * 100).round(2)
print("Các cột có dữ liệu đầy đủ (< 5% missing):")
complete_cols = missing_data[missing_data < 5].index.tolist()
print(f"Số lượng: {len(complete_cols)} cột")
print(complete_cols[:10])  # Show first 10
print()

print("Các cột thiếu nhiều dữ liệu (> 50% missing):")
high_missing = missing_data[missing_data > 50].sort_values(ascending=False)
print(f"Số lượng: {len(high_missing)} cột")
print(high_missing.head())

=== THÀNH PHẦN HÓA HỌC CHÍNH ===
                C          Si          Mn           S           P
count  81072.0000  81072.0000  81072.0000  81072.0000  81072.0000
mean       0.1093      0.0996      0.3561      0.0114      0.0121
std        0.1497      0.1651      0.3699      0.0088      0.0044
min        0.0000      0.0000      0.0100      0.0000      0.0000
25%        0.0310      0.0060      0.1280      0.0040      0.0090
50%        0.0390      0.0140      0.1600      0.0080      0.0110
75%        0.1620      0.1800      0.6230      0.0170      0.0140
max        0.9080      1.0710      1.6700      0.0890      0.0630

=== CARBON EQUIVALENT VALUE (CEV) ===
CEV trung bình: 0.1758
CEV min: 0.0100
CEV max: 1.0500
Số mẫu có CEV: 81,070

=== ĐÁNH GIÁ CHẤT LƯỢNG DỮ LIỆU ===
Các cột có dữ liệu đầy đủ (< 5% missing):
Số lượng: 25 cột
['ShiftName', 'ProductionDate', 'ProductGrade', 'GradeCode', 'ProductSizeCode', 'Length', 'BilletLotCode', 'BilletSampleName', 'C', 'Si']

Các cột thiếu nhiều dữ liệu (> 50% missing):
Số lượng: 22 cột
Te    100.0
Ta    100.0
Se    100.0
Ce    100.0
Bi    100.0
dtype: float64

# Những gì bạn có thể làm với dữ liệu này

Dựa trên phân tích sơ bộ, đây là dữ liệu sản xuất thép với nhiều thông tin về:
- **Thông tin sản xuất**: ca làm việc, ngày sản xuất, cấp thép, kích thước, lò sản xuất
- **Thành phần hóa học**: Carbon (C), Silicon (Si), Manganese (Mn), và 40+ nguyên tố khác
- **Phân loại chất lượng**: ClassifyID, ClassifyName

## Các phân tích và mô hình có thể thực hiện:

### 1. **Kiểm soát chất lượng và phân loại**
- **Dự đoán chất lượng sản phẩm**: Sử dụng các đặc trưng hóa học để dự đoán ClassifyName (Loại 1, Loại 2, v.v.)
- **Phát hiện bất thường**: Tìm những mẫu có thành phần hóa học bất thường hoặc nằm ngoài tiêu chuẩn

### 2. **Tối ưu hóa quy trình sản xuất**
- **Phân tích hiệu suất theo ca**: So sánh chất lượng sản phẩm giữa các ca làm việc
- **Tối ưu hóa lò sản xuất**: Phân tích hiệu suất theo từng lò (OvenID, OvenCode)
- **Dự đoán thời gian sản xuất**: Dựa vào thành phần để ước tính thời gian cần thiết

### 3. **Phân tích thành phần hóa học**
- **Tìm hiểu mối quan hệ giữa các nguyên tố**: Correlation matrix, PCA để giảm chiều dữ liệu
- **Tối ưu công thức thép**: Tìm tỷ lệ nguyên tố tốt nhất cho từng loại sản phẩm
- **Phân tích CEV (Carbon Equivalent Value)**: Dự đoán tính hàn của thép

### 4. **Machine Learning Models**
- **Classification**: Dự đoán loại sản phẩm (ClassifyName) từ thành phần hóa học
- **Regression**: Dự đoán các tính chất cơ học từ thành phần
- **Clustering**: Nhóm sản phẩm theo đặc tính tương tự
- **Time Series**: Phân tích xu hướng chất lượng theo thời gian

### 5. **Báo cáo và Dashboard**
- **Dashboard theo dõi chất lượng**: Real-time monitoring
- **Báo cáo hiệu suất sản xuất**: Theo ca, theo ngày, theo tháng
- **Cảnh báo sớm**: Khi thành phần vượt ngưỡng cho phép